<% layout('loginlayout') -%>
<% block('title', '- Forgot Password') -%>
<% if (errors) {%>
  <% errors.forEach(function (error) { %>
  <div class="col-sm-5 alert alert-danger" style="position: absolute; top: 10px; right: 10px; line-height: 2; z-index: 100;">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
       <span aria-hidden="true">&times;</span>
    </button>
    <%= __(error) %>
    </div>
  <% }) %>
<% } %>
<% if (successs) {%>
  <% successs.forEach(function (success) { %>
  <div class="col-sm-5 alert alert-success" style="position: absolute; top: 10px; right: 10px; line-height: 2; z-index: 100;">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
       <span aria-hidden="true">&times;</span>
    </button>
    <%= __(success) %>
    </div>
  <% }) %>
<% } %>

<!--************************************************************************************-->
<section id="form">
  	<div class="container">
    	<div class="row">
        	<div class="col-md-4 col-sm-6 form-text">
              <form action="/forgot-password" method="post">
              <input type="hidden" name="_csrf" value="<%= _csrf %>" />
              <input type="hidden" name="redirect_to" value="<%= redirect_to %>" />
            	<h1>YOUR VIEWS<span class="account">AND EMOTIONS</span><span class="clint cl"> MAKE A DIFFERENCE.</span></h1>
                <div class="form-box viewer">
                	<div class="form-input">
                    	<input type="email" name="email" placeholder="Email" required/>
                    </div>
                     <div class="form-input">
                    	<input type="submit" class="submit" value="Submit"/>
                    </div>
                   <div class="pass"> <a href="<%= redirect_to %>" class="passone">Login</a></div>
                </div>
                </form>
            </div>
        </div>
    </div>
</section>