<% layout('loginlayout') -%>
<% block('title', '- Client Password Update') -%>
<% if (errors) {%>
  <% errors.forEach(function (error) { %>
  <div class="col-sm-5 alert alert-danger" style="position: absolute; top: 10px; right: 10px; line-height: 2; z-index: 100;">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
       <span aria-hidden="true">&times;</span>
    </button>
    <%= __(error) %>
    </div>
  <% }) %>
<% } %>
<% if (successs) {%>
  <% successs.forEach(function (success) { %>
  <div class="col-sm-5 alert alert-success" style="position: absolute; top: 10px; right: 10px; line-height: 2; z-index: 100;">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
       <span aria-hidden="true">&times;</span>
    </button>
    <%= __(success) %>
    </div>
  <% }) %>
<% } %>

<!--************************************************************************************-->
<section id="form">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-6 form-text">
                <form action="/reset-password" method="post">
                    <input type="hidden" name="_csrf" value="<%= _csrf %>" />
                    <input type="hidden" name="redirect_to" value="<%= redirect_to %>" />
                    <input type="hidden" name="user_id" value="<%= user.id %>" />
                    <input type="hidden" name="user_email" value="<%= user.email %>" />
                    <h1>GET STARTED<span class="account">BY SETTING</span><span class="clint"> YOUR PASSWORD</span></h1>
                    <div class="form-box">
                        <div class="form-input">
                            <input type="password" name="password" id="password" placeholder="Password" required  minlength=6/>
                        </div>
                        <div class="form-input" id="confirm_password_box">
                            <input type="password" name="confirm_password"  id="confirm_password" placeholder="Confirm Password" required  minlength=6/>
                            <p class="help-block confirm_password_help_block"></p>
                        </div>
                        <div class="form-input">
                            <input type="submit" class="submit" id="password_update" value="Update" disabled/>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</section>

<% block('afterScripts', `
<script type="text/javascript">
$(function() {
    $("#password").focus();
  $("#confirm_password").keyup(function() {
      var confirm_password = $(this).val();
      var password = $("#password").val();
      if (confirm_password.length > 5) {
        if(password != confirm_password) {
            $("#password_update").attr('disabled', 'disabled');
            $("#confirm_password_box").addClass('has-error');
            $(".confirm_password_help_block").text('Password not match');
        }
        else{
            $(".confirm_password_help_block").text('Password match');
            $("#confirm_password_box").removeClass('has-error');
            $("#confirm_password_box").addClass('has-success ');
            $("#password_update").removeAttr('disabled');
        }
      }
  });
});
</script>`
) -%>