<p>Dear <%=name%></p>
<p>Please click the following link to reset your password</p>

<p>Thank You</p>
<p>JIO</p>
<p><a href="http://182.74.29.149:1336/reset-password/<%=id%>/<%=tokon%>"> http://182.74.29.149:1336/reset-password/<%=id%>/<%=tokon%></a></p>